<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:theme="@style/AppTheme" android:label="Lava Glow Live Wallpaper"><service android:name=".LavaGlowWallpaperService" android:label="Lava Glow Live Wallpaper" android:permission="android.permission.BIND_WALLPAPER" android:exported="true"><intent-filter><action android:name="android.service.wallpaper.WallpaperService" /></intent-filter><meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper" /></service></application></manifest>
